@tailwind base;
@tailwind components;
@tailwind utilities;

@layer utilities {
  .no-scrollbar::-webkit-scrollbar {
    display: none;
  }
  .no-scrollbar {
    -ms-overflow-style: none; /* IE and Edge */
    scrollbar-width: none; /* Firefox */
  }
  .number {
    font-family: "BebasNeue";
    font-variant-numeric: tabular-nums;
    font-weight: 700;

    /* transform: scale(1.1, 1.35); */
    /* Safari and Chrome */
    /* -webkit-transform: scale(1.1, 1.35); */
    /* Firefox */
    /* -moz-transform: scale(1.1, 1.35); */
    /* IE 9+ */
    /* -ms-transform: scale(1.1, 1.35); */
    /* Opera */
    /* -o-transform: scale(1.1, 1.35); */
  }

  /* .time-input {
    width: fit-content;
  } */
}

@layer components {
  .time-input {
    @apply w-fit bg-transparent m-0 p-0 border-none outline-none;
  }

  .neutral-btn {
    @apply border-none outline-none text-neutral-950 bg-neutral-200 dark:text-neutral-50 dark:bg-neutral-700 dark:bg-opacity-60 disabled:opacity-60 disabled:cursor-not-allowed;
  }

  .start-btn {
    @apply border-none outline-none text-green-900 bg-green-200 dark:text-green-400 dark:bg-green-900 dark:bg-opacity-60 disabled:opacity-60 disabled:cursor-not-allowed;
  }

  .pause-btn {
    @apply border-none outline-none text-amber-900 bg-amber-300 dark:text-amber-300 dark:bg-yellow-700 dark:bg-opacity-50 disabled:opacity-60 disabled:cursor-not-allowed;
  }
  .stop-btn {
    @apply border-none outline-none text-red-900 bg-red-300 dark:text-red-300 dark:bg-red-700 dark:bg-opacity-30 disabled:opacity-60 disabled:cursor-not-allowed;
  }
  .timer-font-size {
    @apply text-[25vw] sm:text-[27vw] md:text-[29vw] lg:text-[31vw] xl:text-[33vw];
  }
  .clock-font-size {
    @apply text-[15vw] sm:text-[17vw] md:text-[20vw] lg:text-[23vw] xl:text-[25vw];
  }
}

@font-face {
  font-family: "BebasNeue"; /*Can be any text*/
  src:
    local("BebasNeue-Regular"),
    url("./fonts/BebasNeue-Regular.ttf") format("truetype");
}

:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  /* color: rgba(255, 255, 255, 0.87); */
  /* background-color: #242424; */

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

/* a {
  font-weight: 500;
  color: #646cff;
  text-decoration: inherit;
}
a:hover {
  color: #535bf2;
}

body {
  margin: 0;
  display: flex;
  place-items: center;
  min-width: 320px;
  min-height: 100vh;
}

h1 {
  font-size: 3.2em;
  line-height: 1.1;
}

button {
  border-radius: 8px;
  border: 1px solid transparent;
  padding: 0.6em 1.2em;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  background-color: #1a1a1a;
  cursor: pointer;
  transition: border-color 0.25s;
}
button:hover {
  border-color: #646cff;
}
button:focus,
button:focus-visible {
  outline: 4px auto -webkit-focus-ring-color;
}

@media (prefers-color-scheme: light) {
  :root {
    color: #213547;
    background-color: #ffffff;
  }
  a:hover {
    color: #747bff;
  }
  button {
    background-color: #f9f9f9;
  }
} */
